* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #192124;
  --secondary-color: #bde6fa;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  letter-spacing: 0.5px;
  color: var(--primary-color);
}

.inline-block {
  display: inline-block;
}


/* ELEMENTS */

.content-wrapper {
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 30rem;
  max-height: 100%;
  padding: 2rem;
}

@media (max-width: 400px) {
  .content-wrapper {
    padding: 1rem;
  }
}

.main-header {
  text-align: center;
  padding-bottom: 1rem;
}

.task-list-container {
  overflow: scroll;
  max-height: 60vh;
  font-size: 1.2rem;
}

.task-list {
  list-style-type: none;
}

.list-item {
  line-height: 1.8;
}

.new-item-container {
  margin-top: 0.5rem;
}

.new-item-input {
  outline: none;
  padding: 0.5rem;
  padding-right: 0;
  font-size: 1.2rem;
  width: calc(100% - 2.8rem);
  height: 2.5rem;
}

.new-item-button {
  position: relative;
  top: .15rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  width: 2.8rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
}


/* CUSTOM CHECKBOXES */

/* Customize the label (the container) */
.checkbox-label {
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
